#baseURL=http://simpledev-develop.telekom.de/
baseURL=http://develop.simpledev.telekom.de/

# user data can be read either from a file in resource dir, then use usersData.resource
# or from a file which is specified with an absolute path, then use usersData.file parameter
usersData.resource=testdata/Users.xlsx

# Maximum number of retries of user search
testControl.userSearch.maxRetries = 2

# Change path according to installation on your PC/laptop.
# Replace <- your user directory -> accordingly.

firefox.binary=C:\\Program Files\\Mozilla FirefoxEsr60\\firefox.exe
firefox.version=esr60

browser=firefox

#browser=chrome
#browser=ie

# Set resolution according to your screen.
# The whole browser window MUST fit to your screen whithout beeing masked by the task bar.
# Format is:
# xeta.display.resolution=<width>x<height>x<colour-depth>
xeta.display.resolution=1900x1020

seleniumIdeTestRoot=<path to simple project>\\simple-simple\\tests

userSetNumber=<testers userSetNumber>:<number of parallel tests>

chrome.headless=false